@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Elms-Sans";
  color: #eee;
}
@font-face {
  font-family: "Elms-Sans";
  src: url(../public/fonts/ElmsSans.ttf);
}
h1,
h2 {
  line-height: 1.1;
}
